<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".FrogApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/frog"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/frog"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".views.activities.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.notifications.UpcomingActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.notifications.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.schedule.CreateScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.schedule.EditScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.schedule.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.species.CreateSpeciesActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.species.AddSpeciesActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.parameters.CreateParameterActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.parameters.AddParameterActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.containers.ManageContainerActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.containers.ContainerActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.containers.DeleteContainerActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.containers.EditContainerActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.account.EditAccountActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.containers.AddContainerNextStepActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.containers.AddContainerActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.locations.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.locations.DeleteLocationActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.locations.EditLocationActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.locations.AddLocationActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.locations.LocationsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.login_pages.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.login_pages.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.login_pages.InitialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>